html{
    width: 100vw;
    overflow-x: hidden;
  }
body{
    height: 100vh;
}
header{
    height: 15%;
    background-color: RGB(255, 193, 7);
}
main{
    height: 100%;
}
footer{
    height: 10%;
}


/*cambiar font, tamaño y color al texto del logo*/
.navbar-light .navbar-brand{
    color: white;
    font-size:  2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
/*relleno a navegacion para que no quede pegado*/
.navbar-nav{
    padding-right: 5rem;
}
/*relleno entre los links*/
.nav-item{
    padding: 2rem;
}
/*cambiar font y tamaño a los links*/
.nav-link{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: large;
}
/*cambiar color a los links*/
.navbar-light .navbar-nav .colorBlanco{
    color: white;
}
.botonPedido{
height: 30px;
width: 400px;
border-radius: 15px;
background-color: rgb(216, 216, 112);
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;

}
.textoPrincipal{
    width: 80%;
    color: black;
    background-color: rgba(255, 255, 0, 0.404);
}
.contactoWsp{
    position: fixed;
    right: 20px;
    width: 10vh;
    top: 500px;
    }
.sobreNosotros h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: yellow;
    background-color: rgba(93, 124, 9, 0.39);
}
    .sobreNosotros p{
font-weight: 800;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
font-size: larger;
color: rgb(0, 0, 0);
background-color: rgba(231, 121, 121, 0.507);
}
.pizzeriaFotos{
    height: 65vh;
    padding: 50px;
}
.textoMenu{
    color: rgb(255, 208, 0);
    background-color: rgba(0, 0, 0, 0.61);
}
.sabor{
font-size: large;
font-weight: 800;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
background-color: rgba(252, 255, 46, 0.521);
}
.precio{
    color: green;
    font-weight: 700;
}
.opinionFoto{
    height: 23vh;
    padding-top: ;
    border-radius: 200px;
}
.opinionTexto1{
    position: relative;
    bottom: 100px;
    left: 220px;
    color: black;
    background-color: rgba(249, 253, 8, 0.555);
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
}
.opinionTexto2{
    position: relative;
   bottom: 100px;
   left: 210px;
   color: black;
   background-color: rgba(249, 253, 8, 0.555);
   font-weight: 900;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 70%;
}
.opinionTexto3{
    position: relative;
    bottom: 120px;
    left: 210px;
    color: black;
    background-color: rgba(249, 253, 8, 0.555);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    width: 71%;
}
.sectionUbi{
font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);

}
.sectionUbi p{
width: 30%;
font-weight: 700;
}

.textoFooter{
    color: white;
}

@media (max-width: 767px) {
    .carousel{
        position: relative;
        right: 80px;
        top: 110px;
        overflow-x: hidden;
        width: 600px;
       
    }
    #carouselExampleControls {
    
    }
  
    .botonPedido{
        width: 50px;
        position: relative;
        bottom: 90px;
        left: 150px;
    }
    .textoPrincipal{
position: relative;
bottom: 88px;
left: 58px;
width: 150%;
    }
.contactoWsp{
    width: 15%;
    pos
}

.navbar-nav{
    padding-right: 0.25rem;
  
  
}
.nav-item{
    padding: 0.1rem;
   
  }
  .nav-link{
    display: flex;
  }
  
}
